<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <link rel="stylesheet" type="text/css" href="/css/common.css">
</head>
<body>
<nav>
    <ul>
        <li><a href="http://localhost:8050/introduction">자기소개</a></li>
        <li><a href="http://localhost:8050/project_introduction">프로젝트 소개</a></li>
        <li><a href="http://localhost:8050/statistics">프로젝트 통계</a></li>
        <li><a href="http://localhost:8050/machine_Learning">프로젝트 머신러닝</a></li>
        <li><a href="http://localhost:8050/programme">프로젝트 만드는 과정</a></li>
        <li><a href="http://localhost:8050/help_site">도움받은 사이트</a></li>
    </ul>
</nav>

<div>

</div>
</body>
</html>
</html>